@using Sivoplyasov.FinalProject.PL.Web
@{
    if (User.Identity.IsAuthenticated)
    {
        Response.Redirect("~");
    }
    if (IsPost)
    {
        var login = Request["login"];
        var password = Request["password"];

        if (string.IsNullOrEmpty(login) || string.IsNullOrEmpty(password))
        {
            Response.SetStatus(HttpStatusCode.BadRequest);
        }

        if (AuthModule.CanLogin(login, password))
        {
            FormsAuthentication.SetAuthCookie(login, createPersistentCookie: false);
            var returnUrl = Request["ReturnUrl"];
            if (string.IsNullOrWhiteSpace(returnUrl))
            {
                returnUrl = "~";
            }

            Response.Redirect(returnUrl);
        }
        else
        {
            PageData["LoginFaled"] = true;
        }
    }
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/login-styles.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <form action="~/Login" id="loginForm" method="post" role="form" class="auth-form text-center col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-4">
                <div class="header row">
                    <div><h4>Вход</h4></div>
                </div>
                <div class="row">
                    @if (PageData["LoginFaled"] == true)
        {
            <div class="col-xs-12 alert alert-danger alert-div text-center">Неверное имя пользователя или пароль</div>
}
                </div>
                <label class="control-label" for="login">
                    Логин:
                </label>
                <div class="form-group" id="login-group">
                    <input type="text" class="form-control" id="login" name="login" placeholder="Enter login">
                </div>
                <label class="control-label" for="password">
                    Пароль:
                </label>
                <div class="form-group" id="password-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                </div>
                <div class="row">
                    <div class="text-center btnarea">
                        <button type="submit" class="btn btn-default text-center">Войти</button>
                    </div>
                </div>
                <div class="checkbox row text-center">
                    <label>
                        <input type="checkbox"> Запомнить пароль
                    </label>
                </div>
                <div class=" row text-center">
                    <a href="/">На главную</a>
                </div>
                <div class=" row text-center">
                    <a href="~/Registration">Регистрация</a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.js"></script>
    <script src="~/Content/js/login-validation.js"></script>
</body>

</html>
